<%= simple_form_for @product, url: wizard_path, method: :put do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <div class="form-actions">
    <button class="btn btn-primary">Next Step</button>
  </div>
<% end %>
